
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    /* TODO: uncomment this when app is done */
    background-color: #1A1A1A;
}
canvas {
    width: 100%;
    height: 110%;
    box-sizing: border-box;
    background-color: #1A1A1A;
}

canvas[resize="true"] {
    width: 100%;
    height: 100%;
}

#fullscreen-button {
  font-size: 1.5em;
  color: #B3B3B3;
  padding: 0px 5px 0px 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}